<form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%"
#form="ngForm" (ngSubmit)="onLogin(form)" (ngReset)="onFormReset(form)">
    <mat-form-field>
        <input type="email" ngModel matInput placeholder="Email" name="Email"/>
    </mat-form-field>

    <mat-form-field>
        <input type="password" ngModel matInput placeholder="Password" name="Password"/>
    </mat-form-field>

    <div fxLayout="row" fxLayoutGap="5%">
        <button type="submit" mat-stroked-button color="primary">Submit</button>
        <button type="reset" mat-stroked-button color="warn">Reset</button>
    </div>
</form>