<mat-table [dataSource]="listedOrders" matSort multiTemplateDataRows>
    <ng-container matColumnDef="orderTime" fxFlex="35">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: -1% !important">Време и датум поруџбине</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.placedOn | date: "dd/MM/YYYY HH:MM:SS" }}</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="shippingAddress" fxFlex="15">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: 5% !important">Место доставе</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.shippingAddress }}</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="shippingMethod" fxFlex="20">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: -4% !important">Начин доставе</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span *ngIf="!element.isEditing">{{ element.shippingMethod }}</span>
            <span *ngIf="element.isEditing">
                <select (change)="element.shippingMethod = $event.target.value">
                    <option *ngFor="let shippingMethod of ['Лично преузимање', 'Курирска служба', 'Пошта']"
                        [value]="shippingMethod" [selected]="element.shippingMethod === shippingMethod"> {{ shippingMethod }}
                    </option>
                </select>
            </span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="status" fxFlex="20">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: -5% !important">Статус поруџбине</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.status }}</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="totalPrice" fxFlex="5">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Укупно плаћено (са ПДВ-ом)</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.totalPrice.toLocaleString("sr-RS", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} динара</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="actions" fxFlex="5">
        <mat-header-cell *matHeaderCellDef>
            <span [fxHide.lt-sm]="true"><button mat-stroked-button (click)="refreshOrders()">Учитај са сервера</button></span>
            <span [fxHide.gt-xs]="true"><button mat-icon-button><mat-icon>refresh</mat-icon></button></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button *ngIf="!element.isEditing && element.status !== 'Завршена'" (click)="element.isEditing = true"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button *ngIf="element.isEditing" (click)="element.isEditing = false;"><mat-icon>check_circle</mat-icon></button>
            <button mat-icon-button *ngIf="element.status !== 'Завршена'"><mat-icon>delete_forever</mat-icon></button>
            <button mat-icon-button (click)="expandedElement = expandedElement === element ? null : element"><mat-icon>shopping_basket</mat-icon></button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="orderedItems">
        <mat-cell *matCellDef="let element" [colspan]="6" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" [ngClass]="element == expandedElement ? 'additonalPadding' : null">
            <!-- <div *ngFor="let item in element.orderedItems"> -->
                <span [colspan]="2" fxFlex>HERE_GOES_PRODUCT_NAME</span>
                <span [colspan]="1" fxFlex><mat-icon>search</mat-icon></span>
                <span [colspan]="1" fxFlex>HERE_GOES_PRODUCT_ORDERED_QUANTATY(PRICE)</span>
                <span [colspan]="2" fxFlex>
                    <button mat-icon-button *ngIf="!element.isEditing && element.status !== 'Завршена'" (click)="element.isEditing = true"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button *ngIf="element.isEditing" (click)="element.isEditing = false;"><mat-icon>check_circle</mat-icon></button>
                    <button mat-icon-button *ngIf="element.status !== 'Завршена'"><mat-icon>delete_forever</mat-icon></button>
                </span>
            <!-- </div> -->
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" style="padding-left: 3% !important;"></mat-header-row>
    <mat-row *matRowDef="let rows; columns: displayedColumns;" [matExpansionPanelContent]="expandedElement === element" style="padding-left: 3% !important;"></mat-row>
    <mat-row *matRowDef="let rows; columns: ['orderedItems'];" class="expanded-row"></mat-row>
</mat-table>