<mat-table [dataSource]="listedOrders" matSort multiTemplateDataRows>
    <ng-container matColumnDef="orderTime">
        <mat-header-cell *matHeaderCellDef style="margin-left: -1% !important">Време и датум поруџбине</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.placedOn | date: "dd.MM.YYYY. H:mm:ss" }}</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="shippingAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: 4% !important">Место доставе</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.shippingAddress }}</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="shippingMethod">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: -2% !important">Начин доставе</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span *ngIf="!element.isEditing">{{ element.shippingMethod }}</span>
            <span *ngIf="element.isEditing">
                <select (change)="element.shippingMethod = $event.target.value">    
                    <option *ngFor="let shippingMethod of ['Лично преузимање', 'Курирска служба', 'Пошта']"
                        [value]="shippingMethod" [selected]="element.shippingMethod === shippingMethod"> {{ shippingMethod }}
                    </option>
                </select>
            </span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left: -3% !important">Статус поруџбине</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.status }}</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Укупан износ за плаћање</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span>{{ element.totalPrice.toLocaleString("sr-RS", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) }} динара</span>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="rating">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Просечна оцена артикала</mat-header-cell>
        <mat-cell *matCellDef="let element"> <!-- Not done in the most elegant way -->
            <div *ngIf="element.status !== 'Завршена'">Није доступно</div>
            <ng-container *ngIf="element.status === 'Завршена'"><mat-icon *ngFor="let i of [].constructor(element.rating)">star</mat-icon></ng-container>
            <ng-container *ngIf="element.status === 'Завршена'"><mat-icon *ngFor="let i of [].constructor(5 - element.rating)">star_outline</mat-icon></ng-container>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
            <span [fxHide.lt-sm]="true"><button mat-stroked-button (click)="refreshOrders()">Учитај са сервера</button></span>
            <span [fxHide.gt-xs]="true"><button mat-icon-button><mat-icon>refresh</mat-icon></button></span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button *ngIf="!element.isEditing && element.status === 'Текућа'" (click)="element.isEditing = true"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button *ngIf="element.isEditing" (click)="element.isEditing = false; updateOrder(element);"><mat-icon>check_circle</mat-icon></button>
            <button mat-icon-button *ngIf="element.status === 'Текућа'" (click)="cancelOrder(element)"><mat-icon>delete_forever</mat-icon></button>
            <button mat-icon-button (click)="expandedElement = expandedElement === element ? null : element"><mat-icon>shopping_basket</mat-icon></button>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="orderedItems">
        <mat-cell *matCellDef="let element; let i = dataIndex" [colspan]="6" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'" [ngClass]="element == expandedElement ? 'additonalPadding' : null"
        fxLayout="column" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2%">
            <div *ngFor="let item of orderDetail[i]" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2%">
                <span fxFlex="25" style="padding-top: 0.6%;">{{ item.title }}</span>
                <span fxFlex="25">
                    <button mat-stroked-button [fxHide.lt-sm]="true" (click)="showItemDescription(item.title, item.description)">Прикажи опис</button>
                    <button mat-icon-button [fxHide.gt-xs]="true" (click)="showItemDescription(item.title, item.description)"><mat-icon>search</mat-icon></button>
                </span>
                <div fxFlex="10" style="padding-top: 0.6%;">
                    <input type="number" min="1" max="999" matInput [(ngModel)]="item.orderedQuantity" *ngIf="item.isEditing"/>
                    <span *ngIf="!item.isEditing">{{ item.orderedQuantity }}</span> комад(а)
                </div>
                <span fxFlex="15" style="padding-top: 0.6%;">{{ (item.price * item.orderedQuantity).toLocaleString("sr-RS", { minimumFractionDigits: 2, maximumFractionDigits: 2 })}} динара</span>
                <div *ngIf="element.status === 'Завршена'" fxLayout="row" fxLayoutAlign="space-evenly stretch" fxLayoutGap="2%">
                    <ng-container *ngFor="let i of [].constructor(item.review.rating)"><mat-icon>star</mat-icon></ng-container>
                    <ng-container *ngFor="let i of [].constructor(5 - item.review.rating)"><mat-icon>star_outline</mat-icon></ng-container>
                </div>
                <span fxFlex="25">
                    <button mat-icon-button *ngIf="!item.isEditing && element.status === 'Текућа'" (click)="item.isEditing = true"><mat-icon>edit</mat-icon></button>
                    <button mat-icon-button *ngIf="item.isEditing" (click)="item.isEditing = false;" (click)="updateOrderItem(element, i, item.id, false)"><mat-icon>check_circle</mat-icon></button>
                    <button mat-icon-button *ngIf="element.status === 'Текућа' && orderDetail[i].length > 1" (click)="updateOrderItem(element, i, item.id, true)"><mat-icon>delete_forever</mat-icon></button>
                    <button mat-icon-button *ngIf="element.status === 'Завршена'" (click)="updateReview(item.review)"><mat-icon>comment</mat-icon></button>
                </span>
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" style="padding-left: 3% !important;"></mat-header-row>
    <mat-row *matRowDef="let rows; columns: displayedColumns;" [matExpansionPanelContent]="expandedElement === element" style="padding-left: 3% !important;"></mat-row>
    <mat-row *matRowDef="let rows; columns: ['orderedItems'];" class="expanded-row"></mat-row>
</mat-table>