section {
    background-color: yellow;
    transform: none;
    text-align: center;
}

h1 {
    color: green;
}

div {
    justify-content: center;
}

div > button {
    background-color: yellowgreen;
}