<mat-toolbar fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2%">
    <span>Продавница ОИЕ</span>
    <button mat-stroked-button routerLink="/login">
        <mat-icon>login</mat-icon> Логовање   
    </button>
    <button mat-stroked-button routerLink="/registration">
        <mat-icon>person_add</mat-icon> Регистрација
    </button>
    <mat-slide-toggle (change)="onDarkModeChange($event)" >Активирај тамни режим</mat-slide-toggle>
    <span>© 2021 Марко Дојкић</span>
</mat-toolbar>
<router-outlet></router-outlet>